<div class="col-md-4" th:fragment="birthdays">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-birthday-cake"></i> Birthdays <small>(April)</small></h2>
      <ul class="nav navbar-right panel_toolbox" th:replace="components/righttoolbox :: right_toolbox">
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <article class="media event">
        <a class="pull-left date">
          <p class="month">April</p>
          <p class="day">03</p>
        </a>
        <div class="media-body">
          <a class="title" href="#">Lester C. De Ocampo</a>
        </div>
      </article>
      <article class="media event">
        <a class="pull-left date">
          <p class="month">April</p>
          <p class="day">09</p>
        </a>
        <div class="media-body">
          <a class="title" href="#">John M. Santos</a>
        </div>
      </article>
      <article class="media event">
        <a class="pull-left date">
          <p class="month">April</p>
          <p class="day">09</p>
        </a>
        <div class="media-body">
          <a class="title" href="#">Denice A. Macapagal</a>
        </div>
      </article>
      <article class="media event">
        <a class="pull-left date">
          <p class="month">April</p>
          <p class="day">16</p>
        </a>
        <div class="media-body">
          <a class="title" href="#">Jean Rose G. Delacerna</a>
        </div>
      </article>
      <article class="media event">
        <a class="pull-left date">
          <p class="month">April</p>
          <p class="day">23</p>
        </a>
        <div class="media-body">
          <a class="title" href="#">Melanie C. Kapulong</a>
        </div>
      </article>
    </div>
  </div>
</div>